<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
  <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
  <%- include('../../partials/navbar') %>

  <header class="bg-primary py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Shop in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
    </div>
  </header>

  <main class="container py-3">
    <div class="products-container">
      <% if(products.length !=0) { %>
        <% products.forEach((product)=> { %>
          <div class="card h-100">
            <img class="card-img-top" src="<%= product.image %>" alt="..." />
            <div class="card-body">
              <div class="text-center">
                <h5 class="fw-bolder"><%= product.name %></h5>
                <span>$40.00 - $80.00</span>
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-primary mt-auto" href="#">Add to Cart</a></div>
            </div>
          </div>

        <% }); %>
      <% } else { %>
        <h5>No products found.</h5>
      <% } %>
    </div>
  </main>

  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</body>
</html>